<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<div layout:fragment="content" style="margin-top: 20px;">
    <h3 class="alert alert-danger">[사원 명단]
        <button class="btn btn-success btn-sm" onclick="location.href='./form'" style="float: right;">사원 추가</button>
    </h3>
    <ul class="employeeList">
        <th:block th:if="${totalCount==0}">
            <li><h4>등록된 사원이 없습니다.</h4></li>
        </th:block>
        <th:block th:if="${totalCount>0}">
            <li th:each="employee : ${list}">
                <a th:href="@{detail(num=${employee.num})}">
                    <th:block th:if="${employee.image == null}">
                        <img th:src="|${frontUrl}noimg.jpg${backUrl}|" class="image">
                    </th:block>
                    <th:block th:if="${employee.image != null}">
                        <img th:src="|${frontUrl}${employee.image}${backUrl}|" class="image">
                    </th:block>
                    <span th:text="${employee.name}">사원 이름</span>
                    <span th:text="${employee.dept}" style="color: gray;">부서</span>
                    <span style="margin-left: 20px; color: gray; cursor: pointer;">
                        <a th:href="@{delete(num=${employee.num})}">
                            <i class="bi bi-x-lg"></i>
                        </a>
                    </span>
                    <span class="day" th:text="${#calendars.format(employee.createdAt, 'yyyy-MM-dd')}">입사일</span>
                </a>
            </li>
        </th:block>
    </ul>
</div>

</html>