<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<div layout:fragment="content" style="margin-top: 20px;">
    <form action="./update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="num" th:value="${employee.num}">
        <input type="hidden" name="oldImage" th:value="${employee.image}">
        <table class="table table-bordered addForm">
            <caption style="caption-side: top"><b>사원 추가</b></caption>
            <tbody>
            <tr>
                <th style="width: 100px;">사원명</th>
                <td>
                    <input type="text" name="name" class="form-control" autofocus required th:value="${employee.name}">
                </td>
            </tr>
            <tr>
                <th style="width: 100px;">핸드폰</th>
                <td>
                    <input type="text" name="hp" class="form-control" required th:value="${employee.hp}">
                </td>
            </tr>
            <tr>
                <th style="width: 100px;">사진</th>
                <td>
                    <input type="file" name="upload" class="form-control">
                </td>
            </tr>
            <tr>
                <th style="width: 100px;">부서</th>
                <td>
                    <select name="dept" class="form-select">
                        <option th:selected="${employee.dept == '교육부'}">교육부</option>
                        <option th:selected="${employee.dept == '인사부'}">인사부</option>
                        <option th:selected="${employee.dept == '홍보부'}">홍보부</option>
                        <option th:selected="${employee.dept == '관리부'}">관리부</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th style="width: 100px;">성별</th>
                <td>
                    <label>
                        <input type="radio" name="gender" value="남자" th:checked="${employee.gender == '남자'}">남자
                    </label>
                    <label>
                        <input type="radio" name="gender" value="여자" th:checked="${employee.gender == '여자'}">여자
                    </label>
                </td>
            </tr>
            <tr>
                <th style="width: 100px;">입사일</th>
                <td>
                    <input type="date" name="regDate" class="form-control" th:value="${employee.regDate}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">등록</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</html>